<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>
<div layout:fragment="content" id="all">
     <div id="content">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-lg-12">
                         <!-- breadcrumb-->
                         <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                   <li class="breadcrumb-item"><a th:href="@{/home.index}">Trang chủ</a></li>
                                   <li aria-current="page" class="breadcrumb-item active">Kiểm tra - Thông tin người nhận</li>
                              </ol>
                         </nav>
                    </div>
                    <div id="checkout" class="col-lg-9">
                         <div class="box">
                              <form method="post" th:action="@{/order/check-out}" th:object="${session.order}">
                                   <h1>Kiểm tra - Thông tin người nhận</h1>
                                   <div class="nav flex-column flex-md-row nav-pills text-center">
                                        <a th:href="@{/oder/check-out}" class="nav-link flex-sm-fill text-sm-center active"><i class="fa fa-map-marker"></i>Thông tin người nhận</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"><i class="fa fa-truck"></i>Phương thức vận chuyển</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"><i class="fa fa-money"></i>Phương thức thanh toán</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"><i class="fa fa-eye"></i> Đơn hàng của tôi</a>
                                   </div>
                                   <div class="content py-3">
                                        <div class="row">
                                             <div class="col-md-6">
                                                  <div class="form-group">
                                                       <label for="shipName">Người nhận</label>
                                                       <div class="input-group">
                                                            <span class="btn btn-primary noneradius-right"><i class="fa fa-user icon" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" name="shipName" id="ShipName" placeholder="Điền tên người nhận" th:value="*{shipName}" />
                                                            <div class="text-danger " id="er_Email"></div>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-md-6">
                                                  <div class="form-group">
                                                       <label for="Email">Email người nhận</label>
                                                       <div class="input-group">
                                                            <span class="btn btn-primary noneradius-right"><i class="fa fa-envelope icon" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" name="shipEmail" id="Email" placeholder="Điền địa chỉ email" th:value="*{shipEmail}"/>
                                                       </div>
                                                       <div class="text-danger " id="er_Email"></div>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- /.row-->
                                        <div class="row">
                                             <div class="col-md-6">
                                                  <div class="form-group">
                                                       <label for="Address">Địa chỉ người nhận</label>
                                                       <div class="input-group">
                                                            <span class="btn btn-primary noneradius-right"><i class="fa fa-home icon" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" name="shipAdress" id="Address" placeholder="Điền địa chỉ nhận hàng" th:value="*{shipAdress}" />
                                                       </div>
                                                       <div class="text-danger " id="er_Address"></div>
                                                  </div>
                                             </div>
                                             <div class="col-md-6">
                                                  <div class="form-group">
                                                       <label for="Phone">Điện thoại người nhận</label>
                                                       <div class="input-group">
                                                            <span class="btn btn-primary noneradius-right"><i class="fa fa-phone icon" aria-hidden="true"></i></span>
                                                            <input type="tel" class="form-control" name="shipMobile" id="Phone" placeholder="Điền số điện thoại người nhận" th:value="*{shipMobile}" />
                                                       </div>
                                                       <div class="text-danger " id="er_Phone"></div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- /.row-->
                                   <div class="box-footer d-flex justify-content-between">
                                        <a th:href="@{/cart/index}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Trở lại giỏ hàng</a>
                                        <button type="submit" class="btn btn-primary">Sang hình thức vận chuyển<i class="fa fa-chevron-right"></i></button>
                                   </div>
                              </form>
                         </div>
                         <!-- /.box-->
                    </div>
                    <!-- /.col-lg-9-->
                    <!-- Order preview-->
                    <div class="col-md-3">
                         <div id="order-summary" class="card">
                              <div class="card-header">
                                   <h3 class="mt-4 mb-4">Đơn hàng dự kiến</h3>
                              </div>
                              <div class="card-body">
                                   <div class="table-responsive">
                                        <table class="table">
                                             <tbody>
                                                  <tr>
                                                       <td>Số sản phẩm</td>
                                                       <th style="text-align:center"><span id="tQuantity" th:text="${#strings.toString(totalQuantity)}"> sản phẩm</span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Giá trị đơn hàng</td>
                                                       <th style="text-align:right">
                                                            <span id="tPrice"
                                                                  th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Tổng khuyến mãi</td>
                                                       <th style="text-align:right">
                                                            <span id="tPromotion"
                                                                  th:text="${#numbers.formatDecimal(totalPromotion, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Sau khuyến mãi</td>
                                                       <th style="text-align:right">
                                                            <span id="Total"
                                                                  th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Phí vận chuyển</td>
                                                       <th style="text-align:right"><span id="shippingCost">0</span> VNĐ</th>
                                                  </tr>
                                                  <tr class="total">
                                                       <th>Thành tiền</th>
                                                       <td style="text-align:right">
                                                            <span id="realPrice"
                                                                  th:text="${#numbers.formatDecimal(realPrice, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></td>
                                                  </tr>
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- /.col-lg-3-->
               </div>
          </div>
     </div>
</div>

</body>
</html>