<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>
<th:block layout:fragment="content">
<div id="all">
     <div id="content">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-lg-12">
                         <!-- breadcrumb-->
                         <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                   <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                   <li aria-current="page" class="breadcrumb-item active">Kiểm tra - Hình thức vận chuyển</li>
                              </ol>
                         </nav>
                    </div>
                    <div id="checkout" class="col-lg-9">
                         <div class="box">
                              <form th:action="@{/order/check-out-2}" method="post">
                                   <h1>Kiểm tra - Hình thức vận chuyển</h1>
                                   <div class="nav flex-column flex-md-row nav-pills text-center">
                                        <a th:href="@{/orer/check-out}" class="nav-link flex-sm-fill text-sm-center"><i class="fa fa-map-marker"></i>Thông tin người nhận</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center active"><i class="fa fa-truck"></i>Phương thức vận chuyển</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"><i class="fa fa-money"></i>Phương thức thanh toán</a>
                                        <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"><i class="fa fa-eye"></i>Đơn hàng của tôi</a>
                                   </div>
                                   <div class="content py-3">
                                        <div class="row">
                                             <th:block th:each="t : ${shippingTypes}">
                                                  <div class="col-md-6">
                                                       <div class="box shipping-method">
                                                            <h4 style="text-align:center" class="pb-3" th:text="${t.typeShip}"></h4>
                                                            <p>Nhận hàng trong khoảng từ <span th:text="${t.time}"></span></p>
                                                            <p>Giá chỉ: <span th:text="${#numbers.formatDecimal(t.cost, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span> VNĐ</p>
                                                            <div class="box-footer text-center p-0">
                                                                 <input th:if="${session.order.shippingType.id == t.id}" type="radio" id="shippingType" name="shippingType" class="shippingType" th:value="${t.id}" checked="checked">
                                                                 <input th:unless="${session.order.shippingType.id == t.id}" type="radio" id="shippingType" name="shippingType" class="shippingType" th:value="${t.id}">
                                                            </div>
                                                       </div>
                                                  </div>
                                             </th:block>
                                        </div>
                                   </div>
                                   <div class="box-footer d-flex justify-content-between">
                                        <a th:href="@{/order/check-out}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Trở về thông tin người nhận</a>
                                        <a th:href="@{/cart/index}" class="btn btn-outline-info">Trở về giỏ hàng</a>
                                        <button type="submit" class="btn btn-primary">Sang hình thức thanh toán<i class="fa fa-chevron-right"></i></button>
                                   </div>
                              </form>
                         </div>
                         <!-- /.box-->
                    </div>
                    <!-- /.col-md-9-->
                    <div class="col-md-3">
                         <div id="order-summary" class="card">
                              <div class="card-header">
                                   <h3 class="mt-4 mb-4">Đơn hàng dự kiến</h3>
                              </div>
                              <div class="card-body">
                                   <div class="table-responsive">
                                        <table class="table">
                                             <tbody>
                                                  <tr>
                                                       <td>Số sản phẩm</td>
                                                       <th style="text-align:center"><span id="tQuantity" th:text="${#strings.toString(totalQuantity)}"> sản phẩm</span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Giá trị đơn hàng</td>
                                                       <th style="text-align:right">
                                                                 <span id="tPrice"
                                                                       th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Tổng khuyến mãi</td>
                                                       <th style="text-align:right">
                                                                 <span id="tPromotion"
                                                                       th:text="${#numbers.formatDecimal(totalPromotion, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Sau khuyến mãi</td>
                                                       <th style="text-align:right">
                                                                 <span id="Total"
                                                                       th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></th>
                                                  </tr>
                                                  <tr>
                                                       <td>Phí vận chuyển</td>
                                                       <th style="text-align:right"><span id="shippingCost" th:text="${#numbers.formatDecimal(shippingCost, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span> VNĐ</th>
                                                  </tr>
                                                  <tr class="total">
                                                       <th>Thành tiền</th>
                                                       <td style="text-align:right">
                                                            <span id="realPrice"
                                                                  th:text="${#numbers.formatDecimal(realPrice, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></td>
                                                  </tr>
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- /.col-md-3-->
               </div>
          </div>
     </div>
</div>
<script>
     $(".shippingType").on('click', function () {
          var shippingTypeID = parseInt($(this).val());
          $.ajax({
               method: 'POST',
               url: '/rest/order/check-out-2',
               data: { shippingType: shippingTypeID },
               dataType: 'json',
               success: function (res) {
                    $("#shippingCost").text(res.shippingCost);
                    $("#realPrice").text(res.realPrice);
               }
          });
     });
</script>
</th:block>
</body>
</html>