<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>
<div layout:fragment="leftnavbar">
     <div class="col-lg-3">
          <!--
          *** CUSTOMER MENU ***
          _________________________________________________________
          -->
          <div class="card sidebar-menu">
               <div class="card-header">
                    <h3 class="h4 card-title">Customer section</h3>
               </div>
               <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                         <a href="#" class="nav-link active" id="user_profile"><i class="fa fa-user"></i> My account</a>
                         <a href="#" class="nav-link" id="list_order"><i class="fa fa-list"></i> My orders</a>
<!--                         <a href="#" class="nav-link" id="list_wish"><i class="fa fa-heart"></i> My wishlist</a>-->
                         <a th:href="@{/account/logout}" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                    </ul>
               </div>
          </div>
     </div>
</div>

<div th:replace="client/account/user_profile : user_profile"></div>

</body>
</html>