<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>
<!-- navbar-->
<div layout:fragment="content" id="all">
     <div id="content">
          <div class="container">
               <h4 class="text-center text-primary">Register</h4>
               <form th:action="@{/account/register}" method="POST" onsubmit="return checkall();" th:object="${user}">
                    <div class="form-group">
                         <div class="row pb-1" style="height:65px">
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-user-circle icon" aria-hidden="true"></i></span>
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Enter your Name" />
                                        
                                   </div>
                                   <div class="text-danger" id="er_Name"></div>
                              </div>
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-user icon" aria-hidden="true"></i></span>
                                        <input name="userName" id="userName" type="text" class="form-control" placeholder="Enter your UserName" onkeyup="check('username')" />
                                        
                                   </div>
                                   <div class="text-danger" id="er_Email"></div>
                              </div>
                         </div>
                         <div class="row pb-1" style="height:65px">
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-home icon" aria-hidden="true"></i></span>
                                        <input name="address" id="address" type="text" class="form-control" placeholder="Enter your address" value="" />
                                   </div>
                                   <div class="text-danger" id="er_Address"></div>
                              </div>
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-envelope-o icon" aria-hidden="true"></i></span>
                                        <input name="email" id="email" type="text" class="form-control" placeholder="Enter your Email" value="" />
                                        
                                   </div>
                                   <div class="text-danger" id="er_Email"></div>
                              </div>
                         </div>
                         <div class="row pb-1" style="height:65px">
                              <div class="col-lg-6" >
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-phone icon" aria-hidden="true"></i></span>
                                        <input name="phone" id="phone" type="tel" class="form-control" placeholder="Enter your Phome number" />
                                        
                                   </div>
                                   <div class="text-danger" id="er_Phone"></div>
                              </div>
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-lock icon" aria-hidden="true"></i></span>
                                        <input name="password" id="password" type="password" class="form-control" placeholder="Enter your Password" />
                                        <br/>
                                        
                                   </div>
                                   <div class="text-danger" id="er_password"></div>
                              </div>
                         </div>
                         <div class="row pb-1" style="height:65px">
                              <div class="col-lg-6">
<!--                                   <div class="input-group">-->
<!--                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-birthday-cake icon" aria-hidden="true"></i></span>-->
<!--                                        <input th:field="*{createdDate}" type="date" class="form-control" min="1900-01-01" max="2010-01-01" />-->
<!--                                        <br />-->
<!--                                   </div>-->
<!--                                   <div class="text-danger" id="er_DayOfBirth"></div>-->
                              </div>
                              <div class="col-lg-6">
                                   <div class="input-group">
                                        <span class="btn btn-primary noneradius-right"><i class="fa fa-lock icon" aria-hidden="true"></i></span>
                                        <input id="cpassword" name="cpassword" type="password" onkeyup="check('cpassword')" class="form-control" placeholder="Confirm your Password" />
                                   </div>
                                   <div class="text-danger" id="er_cpassword"></div>
                              </div>
                         </div>
                         <div class="row pb-1">
                              <div class="col-lg-7">
                              </div>
                              <div class="col-lg-4">
                                   <button type="submit" class="btn btn-primary">Submit</button>
                                   <button type="reset" class="btn btn-primary">Reset</button>
                                   <button type="button" class="btn btn-primary"> Cancel</button>
                              </div>
                              <div class="col-lg-1">

                              </div>
                         </div>
                    </div>
               </form>
          </div>
     </div>
</div>
</body>
</html>