<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
<div id="footer">
     <div class="container">
          <div class="row">
               <div class="col-6">
                    <p>Hãy nhanh tay mua cho mình những cuốn sách đổi đời ngay hôm nay !</p>
               </div>
               <div class="col-6">
                    <th:block th:if="${session.userId == null}">
                         <p>Hãy <a th:href="@{/account/register}">đăng ký</a> ngay hôm nay để có thể mua hàng mọi lúc mọi nơi !</p>
                    </th:block>
                    <th:block th:unless="${session.userId == null}">
                         <p>Hãy <a th:href="@{/book_by}">tìm kiếm</a> cuốn sách của bạn ngay hôm nay để có những trải nghiệm mới !</p>
                    </th:block>
               </div>
          </div>
          <!-- /.row-->
     </div>
     <!-- /.container-->
</div>
<!-- /#footer-->
<!-- *** FOOTER END ***-->
<!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
<div id="copyright">
     <div class="container">
          <div class="row">
               <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-center text-lg-left">©2020 Book SHop Online</p>
               </div>
               <div class="col-lg-6">
                    <p class="text-center text-lg-right">
                         Template design by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious: E-commerce</a>
                         <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :)-->
                    </p>
               </div>
          </div>
     </div>
</div>
<!-- *** COPYRIGHT END ***-->
<!-- JavaScript files-->

<script src="/client/vendor/popper.js/umd/popper.min.js"></script>
<script src="/client/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/client/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/client/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/client/js/front.js"></script>
</th:block>
</body>
</html>